<div>
  <fieldset class="fieldset">
    <legend class="fieldset-legend text-base">Name</legend>
    <input
      type="text"
      class="input w-full"
      placeholder="Load test name"
      name="name"
      required
    />
  </fieldset>
  <div class="mt-8 font-semibold text-lg">Configuration</div>
  <div class="mt-4 space-y-4">
    <fieldset class="fieldset">
      <legend class="fieldset-legend text-base">Per-request Timeout (seconds)</legend>
      <input
        type="text"
        class="input w-full"
        placeholder="60"
        min="1"
        value="60"
        name="timeout"
        required
      />
    </fieldset>
    <fieldset class="fieldset">
      <legend class="fieldset-legend text-base">Users</legend>
      <div class="flex gap-2 mt-4">
        <label class="floating-label">
          <span>Total users</span>
          <input
            type="number"
            class="input w-full"
            placeholder="Total users"
            name="total_users"
            value="500"
            min="1"
            required
          />
        </label>
        <label class="floating-label">
          <span>Launch all users in (seconds)</span>
          <input
            type="number"
            class="input w-full"
            placeholder="Launch all users in"
            name="launch_all_users"
            value="30"
            min="1"
            required
          />
        </label>
        <label class="floating-label">
          <span>Start user per second</span>
          <input
            type="number"
            class="input w-full"
            placeholder="Start user per second"
            name="hatch_rate"
            value="30"
            min="1"
            required
          />
        </label>
      </div>
    </fieldset>
    <fieldset class="fieldset">
      <legend class="fieldset-legend text-base">Execution Time (seconds)</legend>
      <input
        type="number"
        class="input w-full"
        placeholder="Run time"
        min="1"
        name="runtime"
        value="30"
        required
      />
    </fieldset>
  </div>
</div>
