<div>
  <fieldset class="fieldset">
    <legend class="fieldset-legend text-base">Log</legend>
    <div class="mockup-code w-full">
      <div class="max-h-96 overflow-y-auto">
        <pre id="log" data-id="0"></pre>
      </div>
    </div>
  </fieldset>
  <script>
    let eventSourceInstance = null; // Store the current SSE instance

    function connectSSE(targetElement) {
      const container = document.querySelector(targetElement);

      if (!container) {
        console.error("Target element not found.");
        return;
      }

      // Close the previous connection if it exists
      if (eventSourceInstance) {
        eventSourceInstance.close();
        eventSourceInstance = null;
      }

      let url = `/api/load_tests/${container.dataset.id}/logs`;
      eventSourceInstance = new EventSource(url);

      eventSourceInstance.addEventListener("message", (event) => {
        if (event.data) {
          const messageElement = document.createElement("pre");
          messageElement.innerHTML = event.data + "\n";
          container.appendChild(messageElement);
          container.parentElement.scrollTop =
            container.parentElement.scrollHeight;
        }
      });

      eventSourceInstance.onerror = () => {
        console.error("SSE connection lost. Retrying...");
        eventSourceInstance.close();
        setTimeout(() => connectSSE(targetElement), 3000);
      };
    }
  </script>
</div>
