<div class="modal-wrapper">
  <input type="checkbox" id="load_test_modal" class="modal-toggle" checked />
  <div class="modal" role="dialog">
    <div class="modal-box">
      <h3 class="text-lg font-bold">New Load Test</h3>
      <form
        id="load_test_form"
        hx-post="/api/load_tests?refresh=true"
        hx-ext="json-enc"
        class="mt-6 space-y-4"
      >
        <input
          type="number"
          class="hidden"
          value="{{COLLECTION_ID}}"
          name="collection_id"
        />
        {% if REQUEST_ID %}
        <input
          type="number"
          class="hidden"
          value="{{REQUEST_ID}}"
          name="request_id"
        />
        {%endif%}
        <label class="floating-label">
          <span class="label-text">Name</span>
          <input
            type="text"
            class="input input-bordered w-full"
            placeholder="Name"
            name="name"
            required
          />
        </label>

        <label class="floating-label">
          <span class="label-text">Timeout</span>
          <input
            type="number"
            class="input input-bordered w-full"
            placeholder="Timeout"
            name="timeout"
          />
        </label>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Users</legend>
          <div class="flex gap-2">
            <label class="floating-label">
              <span class="label-text">Starts per second</span>
              <input
                name="starts_per_second"
                type="number"
                class="input input-bordered w-full"
                placeholder="Starts per second"
              />
            </label>
            <label class="floating-label">
              <span class="label-text">Total users</span>
              <input
                type="number"
                name="total_users"
                class="input input-bordered w-full"
                placeholder="Total users"
              />
            </label>
          </div>
        </fieldset>
        <fieldset class="fieldset">
          <label class="fieldset-label">
            <input
              type="checkbox"
              checked="checked"
              class="toggle"
              name="follow"
            />
            <span>Follow redirect</span>
          </label>
        </fieldset>
        <label class="floating-label">
          <span>Run time</span>
          <input
            type="number"
            min="0"
            class="input input-bordered w-full"
            placeholder="Run time"
            name="runtime"
          />
        </label>
      </form>
      <div class="modal-action">
        <label for="load_test_modal" class="btn">Cancel</label>
        <button class="btn btn-neutral" form="load_test_form">Run</button>
      </div>
    </div>
    <label for="load_test_modal" class="modal-backdrop"> close </label>
  </div>
</div>
