APP_BASE_URL=http://localhost:8080
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
DATABASE_URL=/opt/data/db/ravage.db
SECRET_KEY=QGSTFPkMa3lFNn9JBHaNiwUO9vQZywjLQw84KIH39yPamIt1FfYrn0jFW7eAK9A9MZI-8zPwFowi45yXP0yy6w==
RUST_LOG="actix_web=info"
DATA_DIR=/opt/data
