ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
AUTO_HTTPS=off
DATABASE_URL=/opt/data/ravage.db
SECRET_KEY=QGSTFPkMa3lFNn9JBHaNiwUO9vQZywjLQw84KIH39yPamIt1FfYrn0jFW7eAK9A9MZI-8zPwFowi45yXP0yy6w==
DATA_DIR=/opt/data