{% extends "base/base_app.html" %} {% block content %}
<main
  class="container mx-auto px-4 py-10 grid grid-cols-1 lg:grid-cols-12 gap-10"
>
  <aside class="col-span-1 lg:col-span-4 xl:col-span-3">
    {% include "components/aside.html" %}
  </aside>
  <section class="col-span-1 lg:col-span-8 xl:col-span-9">
    <form
      hx-post="/api/load_tests{% if load_test%}/{{load_test.id}}{%endif%}?refresh={%if load_test%}true{%else%}false{%endif%}"
      hx-ext="json-enc"
      hx-target="#log"
      hx-swap="outerHTML"
      hx-on::after-swap="connectSSE('#log')"
    >
      <div class="border rounded-lg border-base-300 p-6">
        <section class="col-span-1 lg:col-span-8 xl:col-span-9 space-y-6">
          {% include "components/load_tests/form.html" %}
          <div class="tabs tabs-box">
            <!-- prettier-ignore -->
            {% for request in requests %}
            <a
              href="/collections/{{request.collection_id}}/loadtest?request={{request.id}}"
              role="tab"
              class="tab {%if REQUEST_ID and request.id == REQUEST_ID %}tab-active{%endif%}"
              >{{request.name}}</a
            >
            {%if REQUEST_ID and request.id == REQUEST_ID %}
            <div class="tab-content bg-base-100 border-base-300 p-6">
              {%include "components/load_tests/request_form.html" %}
            </div>
            {%endif%}
            <!-- separator -->
            {% endfor %}
          </div>
          {% include "components/load_tests/log.html" %}

          <div class="text-end">
            <input
              type="hidden"
              name="collection_id"
              value="{{COLLECTION_ID}}"
            />
            {% if REQUEST_ID %}
            <input type="hidden" name="request_id" value="{{REQUEST_ID}}" />
            {% endif %}
            <button class="btn btn-success">Run</button>
          </div>
        </section>
      </div>
    </form>
  </section>
</main>
{% endblock %}
