<header class="bg-base-100 shadow-sm">
  <div class="navbar container mx-auto pr-4">
    <div class="navbar-start">
      <a href="/" class="btn btn-ghost text-xl">Ravage</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/">Collections</a></li>
        <li><a href="/histories">Reports</a></li>
        {% if session and session.role == "admin" %}
        <li><a href="/users">Users</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="navbar-end">
      {%if session%}
      <div class="dropdown dropdown-end">
        <button class="btn pr-1.5">
          <span> {{session.name}} </span>
          <span class="material-symbols-rounded">keyboard_arrow_down</span>
        </button>
        <ul
          tabindex="0"
          class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </div>
      {%endif%}
    </div>
  </div>
</header>
