@import "tailwindcss" source(none);
@source "../../templates";
@source "../../static";

@plugin "daisyui" {
  themes:
    light --default,
    dark;
}

@layer utilities {
  .stretch-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
