<!-- Open the modal using ID.showModal() method -->
<dialog id="new_collection" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">New Collection</h3>
    <form
      hx-ext="json-enc"
      hx-post="/api/collections?refresh=true"
      id="collection_form"
      class="my-8"
    >
      <div class="form space-y-4">
        <label class="floating-label">
          <span>Collection Name</span>
          <input
            required
            type="text"
            placeholder="Collection Name"
            class="input input-bordered w-full"
            name="name"
          />
        </label>
        <label class="floating-label">
          <span>Base Path</span>
          <input
            required
            type="url"
            placeholder="Base Path"
            class="input input-bordered w-full"
            name="host"
          />
        </label>
      </div>
      <div class="mt-6 space-y-4">
        <div class="flex justify-between">
          <div>
            <label class="label">Default Headers</label>
          </div>
          <div>
            <button class="btn btn-xs btn-square btn-ghost" type="button">
              <span class="material-symbols-rounded" style="font-size: 18px"
                >add</span
              >
            </button>
          </div>
        </div>
        <div class="flex gap-2">
          <label class="floating-label">
            <span>Key</span>
            <input type="text" placeholder="Key" class="input input-bordered" />
          </label>
          <label class="floating-label">
            <span>Value</span>
            <input
              type="text"
              placeholder="Value"
              class="input input-bordered"
            />
          </label>
          <div>
            <button class="btn btn-square btn-ghost btn-error" type="button">
              <span class="material-symbols-rounded" style="font-size: 20px"
                >delete</span
              >
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Cancel</button>
      </form>
      <button form="collection_form" type="submit" class="btn btn-neutral">
        Create
      </button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
