<div class="dropdown dropdown-end ml-auto relative">
  <div tabindex="0" role="button" class="btn btn-xs btn-square btn-ghost">
    <span class="material-symbols-rounded" style="font-size: 18px">
      more_vert
    </span>
  </div>
  <ul
    tabindex="0"
    class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
  >
    <li>
      <a href="/requests/new?collection_id={{collection.id}}">New Request</a>
    </li>
    <li>
      <a href="/collections/{{collection.id}}/loadtest"> Load Test </a>
    </li>
    <li>
      <button
        hx-get="/api/collections/{{collection.id}}/edit"
        hx-swap="innerHTML"
        hx-target="#modal"
      >
        Edit
      </button>
    </li>
    <li>
      <button hx-delete="/api/collections/{{collection.id}}?refresh=true">
        Delete
      </button>
    </li>
  </ul>
</div>
