<div role="tablist" class="tabs tabs-lift">
  <label class="tab">
    <input type="radio" name="collection" checked />
    <span
      class="material-symbols-rounded mr-2"
      style="font-size: 18px"
      role="img"
      >library_books</span
    >
    <span>Collection</span>
  </label>
  <div class="tab-content bg-base-100 border-base-300 p-6">
    <button class="btn btn-neutral w-full" onclick="new_collection.showModal()">
      <span class="material-symbols-rounded">add</span>
      <span>New Collection</span>
    </button>
    <div class="mt-4">{% include "components/collection_list.html" %}</div>
  </div>
  <label class="tab">
    <input type="radio" name="collection" />
    <span
      class="material-symbols-rounded mr-2"
      style="font-size: 18px"
      role="img"
      >history</span
    >
    <span>History</span>
  </label>
  <div class="tab-content bg-base-100 border-base-300 p-6">
    {% include "components/histories.html" %}
  </div>
</div>
{% include "components/collections/collection_popup.html" %}
