<div role="tablist" class="tabs tabs-lift">
  <label class="tab">
    <input type="radio" name="collection" checked />
    <span
      class="material-symbols-rounded mr-2"
      style="font-size: 18px"
      role="img"
      >library_books</span
    >
    <span>Collection</span>
  </label>
  <div class="tab-content bg-base-100 border-base-300 p-6">
    <!--prettier-ignore -->
    <button
      hx-get="/api/collections/new"
      hx-swap="innerHTML"
      hx-target="#modal"
      {% if session and session.role == "viewer" %}disabled{% endif %}
      class="btn btn-neutral w-full"
    >
      <span class="material-symbols-rounded">add</span>
      <span>New Collection</span>
    </button>
    <div class="mt-4">{% include "components/collection_list.html" %}</div>
  </div>
</div>
