{% for collection in collections %}
<li x-data="{open : false}">
  <div
    class="menu-dropdown-toggle group relative"
    x-bind:class="open?'menu-dropdown-show':''"
  >
    <span> {{collection.name}} </span>
    <span
      x-on:click="open=!open"
      class="absolute w-full h-full top-0 left-0"
      role="button"
      aria-label="open"
    >
    </span>
    {% include "components/collection_option.html" %}
  </div>
  <ul class="menu-dropdown" x-bind:class="{'menu-dropdown-show':open}">
    <li>
      <div>
        <span class="material-symbols-rounded" style="font-size: 18px">
          folder
        </span>
        Project-final.psd
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="btn btn-xs btn-square btn-ghost"
          >
            <span class="material-symbols-rounded" style="font-size: 18px">
              more_vert
            </span>
          </div>
          <ul
            tabindex="0"
            class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
          >
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <a>
        <span class="material-symbols-rounded" style="font-size: 18px">
          folder
        </span>
        Project-final-2.psd
      </a>
    </li>
    <li>
      <details open>
        <summary>
          <span class="material-symbols-rounded" style="font-size: 18px">
            folder
          </span>
          Images
        </summary>
        <ul>
          <li>
            <a>
              <span class="badge badge-outline badge-xs">GET</span>
              Request
            </a>
          </li>
          <li>
            <a>
              <span class="badge badge-outline badge-xs">POST</span>
              Request
            </a>
          </li>
        </ul>
      </details>
    </li>
  </ul>
</li>
{% endfor %}
