<ul class="menu rounded-box w-full p-0">
  <li>
    <details open>
      <summary>My Collection</summary>
      <ul>
        <li>
          <a>
            <span class="material-symbols-rounded" style="font-size: 18px">
              folder
            </span>
            Project-final.psd
          </a>
        </li>
        <li>
          <a>
            <span class="material-symbols-rounded" style="font-size: 18px">
              folder
            </span>
            Project-final-2.psd
          </a>
        </li>
        <li>
          <details open>
            <summary>
              <span class="material-symbols-rounded" style="font-size: 18px">
                folder
              </span>
              Images
            </summary>
            <ul>
              <li>
                <a>
                  <span class="badge badge-outline badge-xs">GET</span>
                  Request
                </a>
              </li>
              <li>
                <a>
                  <span class="badge badge-outline badge-xs">POST</span>
                  Request
                </a>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
</ul>
