<fieldset class="fieldset">
  <legend class="fieldset-legend text-base">Body</legend>
  <div class="flex gap-4">
    {% set methods = ["application/json", "application/x-www-form-urlencoded"]
    %} {% for method in methods %}
    <label>
      <!-- prettier-ignore -->
      <input
        type="radio"
        name="body_type"
        class="radio radio-sm radio-neutral"
        {%if BODY_TYPE == method %}checked{%endif%}
        value="application/json"
      />
      <span>{{method}}</span>
    </label>
    {%endfor%}
  </div>
  <div class="mt-4">
    <!-- prettier-ignore -->
    <textarea
      class="textarea w-full"
      rows="5"
      placeholder="..."
      name="body_content"
    >{{BODY_CONTENT | default(value='')}}</textarea>
  </div>
</fieldset>
