<form>
  <div class="text-end">
    <button class="btn btn-neutral">Save</button>
    <button class="btn btn-primary">Run</button>
  </div>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Name</legend>
    <input type="text" class="input w-full" placeholder="Load test name" />
  </fieldset>
  <div class="mt-8 font-semibold">Configuration</div>
  <div class="mt-4 space-y-4">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Timeout</legend>
      <input type="text" class="input w-full" placeholder="100" />
    </fieldset>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Users</legend>
      <div class="flex gap-2">
        <label class="floating-label">
          <span>Starts per second</span>
          <input
            type="text"
            class="input w-full"
            placeholder="Starts per second"
          />
        </label>
        <label class="floating-label">
          <span>Total users</span>
          <input type="text" class="input w-full" placeholder="Total users" />
        </label>
      </div>
    </fieldset>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Run time</legend>
      <input type="text" class="input w-full" placeholder="" />
    </fieldset>
  </div>
</form>
