<!-- name of each tab group should be unique -->
<div class="tabs tabs-border">
  {% for tab in tabs %}
  <label class="tab">
    <input type="radio" name="main_tabs" {%if loop.last %}checked{%endif%} />
    <span>{{tab.name}}</span>
  </label>
  <div class="tab-content border-base-300 bg-base-100 p-10">
    {% if tab.type == "request" %}
    <div
      hx-get="/api/requests/{{tab.id | default(value='0')}}?tab_index={{loop.index0}}"
      hx-swap="outerHTML"
      hx-trigger="revealed once"
    ></div>
    {% endif %}
  </div>
  <div class="tab -ml-6">
    <button
      class="btn btn-ghost btn-square btn-sm"
      hx-delete="/api/tabs?refresh=true&name={{tab.name}}&type={{tab.type}}{%if tab.id %}&id={{tab.id}}{%endif%}&collection_id={{tab.collection_id}}"
    >
      <span class="material-symbols-rounded" style="font-size: 18px"
        >close</span
      >
    </button>
  </div>
  {% endfor %}

  <input type="radio" name="main_tabs" class="tab" aria-label="Request" />
  <div class="tab-content border-base-300 bg-base-100 p-10">
    {#% include "components/request_form.html" %#}
  </div>

  <input type="radio" name="main_tabs" class="tab" aria-label="Load Test" />
  <div class="tab-content border-base-300 bg-base-100 p-10">
    {#% include "components/load_test.html" %#}
  </div>
</div>
