<div>
  <form
    hx-post="/api/requests{% if request%}/{{request.id}}{%endif%}?refresh={%if request%}true{%else%}false{%endif%}"
    hx-ext="json-enc"
  >
    <input
      type="number"
      class="hidden"
      name="collection_id"
      value="{{request.collection_id | default(value=COLLECTION_ID)}}"
    />
    <div class="text-end">
      <button class="btn btn-neutral" type="submit">Save</button>
      {%if request %}
      <button class="btn btn-error" type="button">Load Test</button>
      <button
        class="btn btn-success"
        type="button"
        hx-post="/api/requests/{{request.id}}/run"
        hx-target="#log"
        hx-swap="innerHTML"
      >
        Run
      </button>
      {%endif%}
    </div>
    <div class="mt-8 space-y-4">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Request Name</legend>
        <input
          type="text"
          class="input w-full"
          name="name"
          required
          placeholder="Request Name"
          value="{{request.name|default(value='')}}"
        />
      </fieldset>
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Path</legend>
        <div class="flex gap-2">
          <input
            name="path"
            required
            type="text"
            class="input w-full"
            placeholder="/api/request"
            pattern="^\/[a-zA-Z0-9-_\/]*$"
            value="{{request.path|default(value='')}}"
          />
          {% set methods = ["GET","POST","PUT","PATCH","DELETE","HEAD"] %}
          <select class="select w-max" required name="method">
            <!-- prettier-ignore -->
            <option disabled {%if not request %}selected{%endif%} value="">METHOD</option>
            {% for method in methods %}
            <!-- prettier-ignore -->
            <option {%if request and request.method == method %}selected{%endif%}>{{method}}</option>
            {%endfor%}
          </select>
        </div>
      </fieldset>
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Headers</legend>
        {% include "components/form_header.html" %}
      </fieldset>
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Body</legend>
        <div class="flex gap-4">
          <label>
            <!-- prettier-ignore -->
            <input
            type="radio"
            name="body_type"
            class="radio radio-sm radio-neutral"
            {%if request and request.body_type == 'application/json' or not request %}checked{%endif%}
            value="application/json"
          />
            <span>JSON</span>
          </label>
          <label>
            <!-- prettier-ignore -->
            <input
            type="radio"
            name="body_type"
            class="radio radio-sm radio-neutral"
            value="multipart/form-data"
            {%if request and request.body_type == 'multipart/form-data' %}checked{%endif%}
          />
            <span>multipart/form-data</span>
          </label>
          <label>
            <!-- prettier-ignore -->
            <input
            type="radio"
            class="radio radio-sm radio-neutral"
            name="body_type"
            {%if request and request.body_type == 'application/x-www-form-urlencoded' %}checked{%endif%}
            value="application/x-www-form-urlencoded"
          />
            <span>x-www-form-urlencoded</span>
          </label>
        </div>
        <div class="mt-4">
          <textarea
            class="textarea w-full"
            rows="5"
            placeholder="..."
            name="body_content"
          ></textarea>
        </div>
      </fieldset>
    </div>
  </form>
  <textarea id="log" class="textarea w-full mt-10" rows="10"></textarea>
</div>
