<div>
  <div class="font-semibold">Histories</div>
  <div class="mt-6 overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th class="w-0">
            <label>
              <input
                type="checkbox"
                class="checkbox checkbox-sm checkbox-neutral"
              />
            </label>
          </th>
          <th>Created At</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="w-0">
            <label>
              <input
                type="checkbox"
                class="checkbox checkbox-sm checkbox-neutral"
              />
            </label>
          </th>
          <td>2022-01-01</td>
          <td>Collection 1</td>
          <td>
            <a>See Report</a>
            <a>See Logs</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
